<%- include('../includes/head.ejs') %>

<!-- <link rel="stylesheet" href="/css/forms.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
<link rel="stylesheet" href="/css/product.css">

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script> -->
<!-- <script type="text/javascript">
    Dropzone.options.uploadWidget = {
        paramName: 'file',
        maxFilesize: 2, // MB
        maxFiles: 5,
        dictDefaultMessage: 'Drag an image here to upload, or click to select one',
        // headers: {
        //   'x-csrf-token': document.querySelector('meta[name=csrf-token]').getAttributeNode('content').value,
        // },
        acceptedFiles: 'image/*',
        init: function () {
            this.on('success', function (file, resp) {
                console.log(file);
                console.log(resp);
            });
            this.on('thumbnail', function (file) {
                if (file.accepted !== false) {
                    if (file.width < 640 || file.height < 480) {
                        file.rejectDimensions();
                    } else {
                        file.acceptDimensions();
                    }
                }
            });
        },
        accept: function (file, done) {
            file.acceptDimensions = done;
            file.rejectDimensions = function () {
                done('The image must be at least 640 x 480px');
            };
        }
    };
</script> -->

</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main>
        <% if(errorMessage) { %>
        <div class="user-message user-message--error"><%=  errorMessage %></div>
        <% } %>
        <div class="card">
            <div class="card-body">
                <form class="product-form "
                    action="/admin/<% if (editing) { %>edit-product<% } else { %>add-product<% } %>" method="POST"
                    enctype="multipart/form-data">



                    <label for="title">Title:</label>
                    <input type="text" name="title"
                        class="<%= validationErrors.find(e=>e.param==='title') ? 'invalid':'' %> form-control"
                        id="title" value="<% if (editing ||hasErrors) { %><%= product.title %><% } %>">


                    <br />
                    <label for="image">Image:</label>
                    <input type="file" name="image" id="image">
                    <br />


                    <label for="price">Price:</label>
                    <input type="number" name="price"
                        class="<%= validationErrors.find(e=>e.param==='price') ? 'invalid':'' %> form-control"
                        id="price" step="0.01" value="<% if (editing ||hasErrors) { %><%= product.price %><% } %>">


                    <label for="description">Description:</label>
                    <textarea name="description"
                        class="<%= validationErrors.find(e=>e.param==='description') ? 'invalid':'' %> form-control"
                        id="description"
                        rows="5"><% if (editing || hasErrors) { %><%= product.description %><% } %></textarea>


                    <label for="description">Categeory:</label>
                    <% if(!editing) { %>
                    <select name="selectedcat" class="form-control">
                        <optgroup>
                            <option value="">Select categeory</option>
                            <% cats.forEach(function(row){ %>
                            <option value="<%= row._id %>"><%= row.name %></option>
                            <% }) %>
                        </optgroup>
                    </select>
                    <% } %>

                    <% if(editing) { %>
                        <select name="selectedcat" class="form-control">
                            <optgroup>
                                <option value="">Select categeory</option>
                                <% cats.forEach(function(row){ %>
                                    <!-- <% console.log(product.categeoryId.toString()==row._id.toString(),row.name) %> -->
                                    <% var selected = ( product.categeoryId.toString() == row._id.toString()) ? "selected" : ""; %>
                                <option value="<%= row._id %>" <%= selected %>><%= row.name %></option>
                                <% }) %>
                            </optgroup>
                        </select>
                        <% } %>

                    <% if (editing) { %>
                    <input type="hidden" value="<%= product._id %>" name="productId">
                    <% } %>
                    <br />

                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-success" style="margin-top:12px;margin-left: 16%"
                        type="submit"><% if (editing) { %>Update Product<% } else { %>AddProduct<% } %></button>

                </form>

                <!-- <form class="form-control dropzone own" enctype="multipart/form-data" action="/config/add-product">
                    <div class="fallback">
                        <input name="file" type="file" />
                    </div> -->
                </form>

            </div>
        </div>
    </main>

    <%- include('../includes/end.ejs') %>